* {
    margin: 0;
    padding: 0;
  }
  
body{
    background-color: #011627;
}
section{
    padding-top: 110px;
    position: relative;
    &.about{
        padding: 0;
        height: 50vh;
        min-height: 75vh;
        @media only screen and (max-width: 600px) {
            min-height: 60vh;
        }
    }
    &.skills{
        padding: 0;
        height: 50vh;
        min-height: 70vh;
        @media only screen and (max-width: 600px) {
            min-height: 10vh;
        }
    }
    &.projects{
        padding: 0;
        height: 50vh;
        min-height: 75vh;
        @media only screen and (max-width: 600px) {
            min-height: 50vh;
        }
    }
}
.about-card{
    
    .henry-pic{
        margin: auto;
        width: 200px;
        border-radius: 1em;
        border-color: #f4a261;
        border-style: solid;
    }
    .--name{
        
        font-size: 45px;
        color: #FDFFFC;
        @media only screen and (max-width: 600px) {
            font-size: 30px;
            
        }
    }
    .ttyper{
        font-family:sans-serif; 
        font-size: 30.5px; 
        color: #FDFFFC;
        @media only screen and (max-width: 600px) {
            font-size: 20px;
            
        }
    }
    .social-icons{
        position: relative;
        li {
            &:not(:last-child) {
                margin-right: 1.5rem;
              }
            a {
            font-size: 21px;
            color: #41EAD4;
            &:hover {
                color: #F71735;
              }
          }
    }
}
}

.skills-card{
    
    .--name{
        
        font-size: 40px;
        color: #FDFFFC;
    }
    
}
.row li {
    
    width: 23.8%;
    float: left;
    list-style: none;
    text-align: center;
  }
  
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

.project-card{
    .--name{
        
        font-size: 40px;
        color: #FDFFFC;
        @media only screen and (max-width: 600px) {
            font-size: 30px;
            
        }
    }
}

#--Project-Card{
    border-radius: 1em;
    border-style: solid;
    border-color: #f4a261;
    width: 500px;
    color: #FDFFFC;
    margin-left: 5px;
    margin-bottom: 1em;
    @media only screen and (max-width: 600px) {
        width: 220px;
        
    }

    .ProjectName{
        font-size: 20px;
    }

    .ProjectLogo{
        padding-top: 1em;
        width: 85px;
    }
    button{
        width: 100%;
        margin-bottom: 4px;
    }
}
#skills-icon-row{
    @media only screen and (max-width: 600px) {
        img{
            width: 60px;
            height: 60px;
        }
        
    }
}
#project-card-carousel{
    width: 45%;
    
    @media only screen and (max-width: 600px) {
        width: 95%;
        height: 100%;
    }
}
.carousel-project-img{
        
    @media only screen and (max-width: 600px) {
        width: 58px;      
        
    }

}
.carousel-project-desc{
    @media only screen and (max-width: 600px) {
        font-size: small;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;     
        
    }
.carousel-project-title{
        @media only screen and (max-width: 600px) {
            font-size: small;      
            
        }
    }

}
    
